body {
	background: #fff;
	font-family: "Arimo", sans-serif;
	font-size: 26px;
	color: #000;
	margin: 0;
}

h1 {
	margin: 100px 0 16px 0;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 56px;
	text-align: center;
	color: #2a79f8;
	cursor: default;
}

h2 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 36px;
	text-align: center;
	margin: 12px auto;
	width: 540px;
}

a, a:visited {
	color: #2a79f8;
}

a:hover {
	text-decoration: none;
}

form {
	width: 540px;
	margin: 0 auto;
}

input[type=text] {
	display: block;
	background: #eee;
	margin: 24px auto 0 auto;
	font: inherit;
	color: inherit;
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: 0;
	border-bottom: 4px solid #4f4f4f;
}

::-webkit-input-placeholder {
	color: #4f4f4f;
}

::-moz-placeholder {
	color: #4f4f4f;
}

:-ms-input-placeholder {
	color: #4f4f4f;
}

input[type=text]:focus {
	outline: none;
	border-color: #2a79f8;
}

#buttons {
	width: 100%;
	margin: 0 auto;
}

button {
	background: #fff;
	margin-top: 24px;
	font: inherit;
	color: inherit;
	padding: 8px 0;
	width: 264px;
	border: 2px solid #4f4f4f;
	cursor: pointer;
}

button:hover {
	background: #eee;
	border-color: #2a79f8;
}

button:active {
	background: #ccc;
}

.left {
	float: left;
}

.right {
	float: right;
}

#hiddenmessage {
	opacity: 0;
	cursor: default;
}

@media only screen and (max-width: 560px) {
	h1, h2, form {
		width: 100%;
		padding: 0 20px;
		box-sizing: border-box;
	}

	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 32px;
	}

	button {
		display: block;
		width: 100%;
		margin: 18px auto;
	}

	.left, .right {
		float: none;
	}
}