body {
	font-family: "Arimo", sans-serif;
	font-size: 20px;
	color: #4f4f4f;
	margin: 0;
}

#searchbar {
	position: fixed;
	top: 0;
	width: 100%;
}

#searchbar input[type=text] {
	font-family: "Arimo", sans-serif;
	font-size: 24px;
	color: #4f4f4f;
	background: rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	width: 100%;
	padding: 8px;
	border: none;
}

#searchbar input[type=text]:focus {
	outline: none;
	color: #eee;
	background: rgba(79, 79, 79, 0.9);
}

::-webkit-input-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}

#titlearea {
	width: 700px;
	margin: 80px auto;
	text-align: center;
	padding: 20px;
}

#titlearea h1 {
	display: inline-block;
	margin: 0;
	padding:  4px 12px;
	font-family: "Montserrat", sans-serif;
	font-size: 42px;
	background: #2a79f8;
	color: #fff;
	cursor: default;
}

#titlearea h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 72px;
	color: #333;
	margin: 20px 0;
}

#titlearea h3 {
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 0;
}

#titlearea a, #titlearea a:visited, #titlearea a:hover {
	font: inherit;
	color: inherit;
	text-decoration: inherit;
}

#titlearea button {
	background: #fff;
	font: inherit;
	border: 2px solid #4f4f4f;
	padding: 8px 0;
	width: 240px;
	cursor: pointer;
}

#titlearea button:hover {
	background: #eee;
	border-color: #2a79f8;
}

#titlearea button:active {
	background: #ccc;
}

.post {
	width: 1000px;
	margin: 40px auto;
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
	line-height: 1.3;
}

.post h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 48px;
	color: #333;
	margin: 20px 0;
}

.postinfo {
	background: #eee;
	font-weight: 700;
	padding: 8px;
	box-sizing: border-box;
}

a, a:visited {
	color: #2a79f8;
}

a:hover {
	text-decoration: none;
}