body {
	background: #fff;
	margin: 0;
	font-family: "Arimo", sans-serif;
	font-size: 18px;
	color: #4f4f4f;
}

#content {
	width: 900px;
	margin: 0 auto;
}

#sidepanel {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	border-right: 4px solid #eee;
}

h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 72px;
	margin: 100px 0 0 0;
	color: #000;
}

#sidepanel h1 {
	margin: 20px 0 0 10px;
	font-size: 32px;
}

#titlearea p {
	margin: 18px 0;
	font-size: 28px;
}