body {
	background: #212430;
	color: #c5d2e3;
}

.postitem {
	border-bottom: 8px solid #fff;
}

.postitem h1, .postitem h2 {
	color: #fff;
}

.postinfo {
	color: #fff;
	border-bottom: 1px solid #fff;
}

.postitem img {
	border: 1px solid #fff;
}

.pagearrow a {
	color: #c5d2e3;
}

.pagearrow a:hover {
	color: #fff;
}