body {
	background: #fff;
	color: #4f4f4f;
}

.postitem {
	border-bottom: 8px solid #000;
}

.postitem h1, .postitem h2 {
	color: #000;
}

.postinfo {
	color: #000;
	border-bottom: 1px solid #000;
}

.postitem img {
	border: 1px solid #000;
}

.pagearrow a {
	color: #4f4f4f;
}

.pagearrow a:hover {
	color: #000;
}