body {
	background: #fff;
	color: #4f4f4f;
}

.postitem {
	border-bottom: 8px solid #000;
}

.postitem h1, .postitem h2 {
	color: #000;
}

.postinfo {
	color: #000;
	border-bottom: 1px solid #000;
}

.postitem img {
	border: 1px solid #000;
}

.pagearrow a {
	color: #4f4f4f;
}

.pagearrow a:hover {
	color: #000;
}

#post_form input[type=text] {
	background: #fff;
	color: #4f4f4f;
	border-bottom: 2px solid #eee;
}

#post_form input[type=text]:focus {
	background: #eee;
}

#post_form #titlebox {
	color: #000;
}

#post_form textarea {
	background: #eee;
	color: #4f4f4f;
	border-bottom: 2px solid #eee;
}

button, .button, .button:visited {
	background: #fff;
	color: #4f4f4f;
	border: 2px solid #4f4f4f;
}

.button:hover, button:hover {
	background: #eee;
	border-color: #2a79f8;
}

.button:active, button:active {
	background: #ccc;
}